body {
  --background-primary: rgba(35, 35, 35, 1) !important;
  --background-secondary: rgba(30, 30, 30, 1) !important;
  font-family: 'Oxanium', serif !important;
  --dg-content-font-size: 15px;  
}
